form.load-file.form
	+loadFile("Фотография", "Изображение jpg или png, размером больше чем 100х100 пикселей и весом до 2Мб.")
	+loadFile("Прикрепить файл", "jpg, png, pdf, doc, весом до 2Мб.", "radius")
