mixin checkbox(text, attr)
	if attr
		label.form-label
			input(type="checkbox" name="checkbox" checked="#{'attr'}").form__input-checkbox
			span.form__checkbox
			|  #{text}
	else
		label.form-label
			input(type="checkbox" name="checkbox").form__input-checkbox
			span.form__checkbox
			|  #{text}