mixin comment-register(linkSignIn, linkRegister)
	.comment__register.text-center
		span
			a(href= linkSignIn) Войдите
			|
			| или
			|
			a(href= linkRegister) зарегистрируйтесь
		br
		span чтобы оставить комментарий