extends ../layouts/page-layout/page.pug

block variables
	- var title = 'Главная';
	- var pageClass = 'content-page';

block content
	.sticky-footer-wrapper
		include ../sections/header__navigation.pug
		
		.sticky-footer-content
			br
			h1 ...здесь ожидается что-то грандиозное ;-)
			
		include ../sections/footer.pug

