.left-panel.blue-skin
    .left-panel__section
        .title-2 UI-KIT и PUG фреймворк

    .left-panel__section
        p.strong Документация
        .left-panel-nav
            +linkLeftPanel("Документация", "docs.html")
            +linkLeftPanel("Оформление кода", "docs-codestyle.html")
            +linkLeftPanel("Работа со стилями", "docs-styleguide.html")
            +linkLeftPanel("Общие рекомендации", "docs-general-recomendations.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        p.strong Элементы форм
        .left-panel-nav
            +linkLeftPanel("Кнопки", "buttons.html")
            +linkLeftPanel("Аватарки", "avatars.html")
            +linkLeftPanel("Чекбоксы", "checkbox.html")
            +linkLeftPanel("Textarea", "textarea.html")
            +linkLeftPanel("Комментарий - Зарегистрироваться", "comment-register.html")
            +linkLeftPanel("Радио-кнопки", "radio-buttons.html")
            +linkLeftPanel("Бейдж", "badge.html")

    .left-panel__section
        p.strong Типографика
        .left-panel-nav
            +linkLeftPanel("Заголовки", "titles.html")
            +linkLeftPanel("Текст", "text.html")
            +linkLeftPanel("Список", "list.html")

    .left-panel__section
        p.strong Нотификации
        .left-panel-nav
            +linkLeftPanel("Нотификации", "notifications.html")

    //- Тут будут ссылки на блоки
    .left-panel__section
        p.strong Блоки
        .left-panel-nav
            +linkLeftPanel("Лого", "logo.html")
            +linkLeftPanel("Вход/Регистрация(Гость)", "sign-in-guest.html")
            +linkLeftPanel("Вход/Регистрация(Пользователь)", "sign-in-user.html")
            +linkLeftPanel("Навигация", "navigation.html")

    //- Тут будут ссылки на секции
    .left-panel__section
        p.strong Секции
        .left-panel-nav
            +linkLeftPanel("Пост в блоге", "blog-post.html")
            +linkLeftPanel("Сообщение от пользователя", "user-message.html")
            +linkLeftPanel("Панель администратора", "admin-panel.html")
            +linkLeftPanel("Оставить коментарий", "leave-comment.html")
            +linkLeftPanel("Шапка (Гость)", "header-guest.html")
            +linkLeftPanel("Шапка (Администратор)", "header-admin.html")
            +linkLeftPanel("Шапка (Пользователь)", "header-user.html")

    //- Тут будут ссылки на страницы
    //- .left-panel__section
    //- 	p.strong Страницы
    //- 	.left-panel-nav

