extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Карточки - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Карточка - Пост в блоге

			.card-post
				.card-post__image
					img(src="../img/thumbs/post-thumb.png", alt="")
				h3.card-post__title Поездка в New York пример длинного названия поста ...
				+button('Читать', '#!')

			.section-ui
				.buttons-container--ui-kit
					+buttonBackward('Назад', '#!')
			pre.
				+buttonBackward('Назад', '#!')
			hr

			h1 Карточка - Работа в Портфолио

			.card-portfolio
				.card-portfolio__image
					img(src="../img/thumbs/portfolio-thumb.png", alt="")
				h3.card-portfolio__title.ml-20 Верстка Landing Page
				+button('Смотреть кейс', '#!')

			.section-ui
				+buttonProfile('Профиль', '#!')
			pre.
				+buttonProfile('Профиль', '#!')
