extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Чекбокс - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Чекбокс
			
			.section-ui
				+checkbox('Запомнить меня')

			pre.
				+checkbox('Запомнить меня')
			
			.title mixins/_checkbox.pug
			pre.
				mixin checkbox(text)
					input(type="checkbox" name="checkbox")#checkbox.form__input-checkbox
					label(for="checkbox").form-label #{'#{text}'}

