extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Лого - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35
            h1 Шапка (Гость)

            .section-ui
                include ../../sections/header-guest.pug

            pre.
                include ../../sections/header-guest.pug

            .title sections/header-guest.pug

            pre.
                .header
                    +logo('../img/checked-icon/logo-icon.png', 'Digital Lifestyle', 'Сайт IT специалиста')

                        -
                            var navigation = [
                            {name: 'Главная', link: '#'},
                            {name: 'Обо мне', link: '#'},
                            {name: 'Работы', link: '#'},
                            {name: 'Блог', link: '#'},
                            {name: 'Контакты', link: '#'}
                            ];

                        div.ml-55
                           +navigation(navigation)

                    include ../sections/sign-in-guest.pug
