extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Индикаторы - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Индикаторы
			.section-ui
				.indicators-container
					.row.ml-50.pt-50
						+indicator('HTML5', 'green','90')
						+indicator('CSS3', 'green','40')
						+indicator('JS', 'green','50')
						+indicator('jQuery', 'green','90')
					.row.ml-50.pt-50
						+indicator('PHP', 'blue','40')
						+indicator('MySql', 'blue','50')
					.row.ml-50.pt-50
						+indicator('Git', 'yellow','90')
						+indicator('Gulp', 'yellow','40')
						+indicator('Bower', 'yellow','50')
						+indicator('WebPack', 'yellow','90')
					.row.ml-50.pt-50
						+indicator('90%', 'yellow','90')
						+indicator('40%', 'yellow','40')
						+indicator('50%', 'yellow','50')
				.title 
				pre.
					+indicator('HTML5', 'green','90')
					+indicator('CSS3', 'green','40')
					+indicator('JS', 'green','50')
					+indicator('jQuery', 'green','90')
					+indicator('PHP', 'blue','40')
					+indicator('MySql', 'blue','50')
					+indicator('Git', 'yellow','90')
					+indicator('Gulp', 'yellow','40')
					+indicator('Bower', 'yellow','50')
					+indicator('WebPack', 'yellow','90')
					+indicator('90%', 'yellow','90')
					+indicator('40%', 'yellow','40')
					+indicator('50%', 'yellow','50')
