extends ../../layouts/ui-layout/ui-layout.pug

block variables
    - var title = 'Лого - UI-kit и HTML фреймворк - Документация';
    - var pageClass = 'body--dashboard';

block content
    .main-wrapper
        .container.container--left.user-content.pt-35.dark-bg
            h1 Лого

            .section-ui
                div.logo
                    div.logo-icon
                        img(src="../img/checked-icon/logo-icon.png")
                        span Digital Lifestyle
                    div.logo-text
                        span Сайт IT специалиста

            pre.
                div.logo
                    div.logo-icon
                        img(src="../img/checked-icon/logo-icon.png")
                        span Digital Lifestyle
                    div.logo-text
                        span Сайт IT специалиста
