extends ../../layouts/ui-layout/ui-layout.pug

block variables
	- var title = 'Сообщение от пользователя - UI-kit и HTML фреймворк - Документация';
	- var pageClass = 'body--dashboard';

block content
	.main-wrapper
		.container.container--left.user-content.pt-35
			h1 Сообщение от пользователя
			.section-ui
				include ../../sections/user-message.pug